.calculator {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 550px;
    background-color: #969b9b;
    border-width: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: #4f5252;
}

.historyButton {
    font-family: Arial, serif;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 5px;
    width: auto;
    color: black;
    background-color: #dde2e2;
    border: 2px solid #dde2e2;
    padding: 5px;
}

.history {
    font-family: Arial, serif;
    font-size: 20px;
    border-radius: 5px;
    display: block;
    position: absolute;
    opacity: 0.98;
    width: auto;
    color: black;
    background-color: white;
    border: 1px solid grey;
    padding: 5px;
    visibility: hidden;
}

.outputFrame {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    align-self: inherit;
    height: 24%;
    width: 480px;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #4f5252;
    font-family: Arial, serif;
    font-size: 40px;
    text-align: right;
    word-wrap: break-word;
}

.resolve {
    display: block;
    position: relative;
    text-align: right;
}

.digitsFrame {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    align-self: inherit;
    height: 394px;
    width: 480px;
    background-color: white;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: #4f5252;
}

td {
    display: table-cell;
    height: 90px;
    width: 120px;
    font-size: 50px;
    font-family: Arial, sans-serif;
    background-color: #dde2e2;
    text-align: center;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: #dde2e2;
}

table {
    display: table;
    position: center;
}